{% extends 'base.html.twig' %}

{% block body %}
    <div class="card-deck">
    {% for post in posts %}
        {% if loop.index0 % 3 == 0 %}
            </div>
            <div class="card-deck mt-3">
        {% endif %}
        <div class="card col-md-4" style="padding-left: 0; padding-right: 0">
            <a href="{{ path('post_view', {id: post.id}) }}">
                <img src="{% if not post.image %}http://lorempixel.com/440/280/nature?i={{ loop.index0 }}{% endif %}"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content[0:60] }}...</p>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
